.App {
	text-align: center;
	min-height: 100vh;
	background-color: #f8f7ff;
}

.courses {
	height: 600px;
	width: 500px;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 10px 10px 5px 0px #726e97;
	background: white;
}

.PaperLeft {
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
}

.PaperRight,
.LeftPaneTabGrid,
.CourseList {
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 10px;
}

.dropdown {
	width: 400px;
	padding: 20px;
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.ListedCourses {
	padding-left: 20px;
	margin-left: 20px;
}
.TabsAppBar.TabsAppBar {
	background-color: #aeadf0;
	color: black;
}
.TabsBar.TabsBar {
	font-size: 18px;
	font-weight: bolder;
}

.TabsLayoutPanel {
	background-color: #f8f7ff;
}

.altcoursesDropdown,
.CoursesDropdown {
	background-color: white;
}

h3,
h4 {
	margin-top: 0;
}

.TabsRoot {
	flex-grow: 1;
	width: 100%;
}
.CreditHistoryTable {
	min-width: 400px;
	width: fit-content;
}

.editor-field select {
	border-radius: 4px;
	border-style: solid;
	border-width: medium;
	width: 400px;
	height: 25px;
	padding: 20px;
	margin: 20px;
	border-color: #726e97;
	color: black;
}
/* option {
	color: black;
} */

@media screen and (min-width: 960px) {
	.courses {
		height: 350px;
		width: 600px;
		border-radius: 20px;
		margin: 20px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		box-shadow: 10px 10px 5px 0px #726e97;
		background: white;
	}
}
