.App {
	text-align: center;
	min-height: 100vh;
	background: lightgrey;
}

.courses {
	height: 450px;
	width: 500px;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 5px 20px rgb(71, 71, 71);
	background: white;
}
/* for breaking point 611- 850-ish 
.courses {
	height: 600px;
	width: 500px;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 5px 20px rgb(71, 71, 71);
	background: white;
}*/

.PaperLeft {
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
}

.PaperRight {
	margin-top: 20px;
	padding: 20px;
	margin-bottom: 10px;
}

.dropdown {
	width: 400px;
}

.ListedCourses {
	padding-left: 20px;
	margin-left: 20px;
}
